body, html {
	 width: 100%;
	 height: 100%;
}
 hr {
	 max-width: 50px;
	 border-width: 3px;
	 border-color: #f6f6f6;
}
 hr.light {
	 border-color: #f6f6f6;
}
 a {
	 color: #f1f0f0;
}
 a:hover {
	 color: #faf3f3;
}
 .bg-primary {
	 background-color: body, html;
	 background-color-width: 100%;
	 background-color-height: 100%;
	/* footer */
	/* footer */
}
 .bg-primary hr {
	 max-width: 50px;
	 border-width: 3px;
	 border-color: #f6f6f6;
}
 .bg-primary hr.light {
	 border-color: #f6f6f6;
}
 .bg-primary a {
	 color: #30090a;
}
 .bg-primary a:hover {
	 color: #30090a;
}
 .bg-primary .bg-primary {
	 background-color: #270a0a !important;
}
 .bg-primary .bg-dark {
	 background-color: #808080 !important;
}
 .bg-primary .text-faded {
	 color: rgba(246, 246, 246, 0.7);
}
 .bg-primary section {
	 padding: 8rem 0;
}
 .bg-primary .section-heading {
	 margin-top: 0;
}
 .bg-primary ::-moz-selection {
	 color: #f6f6f6;
	 background: #808080;
	 text-shadow: none;
}
 .bg-primary ::selection {
	 color: #f6f6f6;
	 background: #808080;
	 text-shadow: none;
}
 .bg-primary img::selection {
	 color: #f6f6f6;
	 background: transparent;
}
 .bg-primary img::-moz-selection {
	 color: #f6f6f6;
	 background: transparent;
}
 .bg-primary .box-text-opacity {
	 background-color: rgba(49, 4, 4, 0.7);
}
 .bg-primary footer {
	 padding-top: 5rem;
	 padding-bottom: 5rem;
	 background-color: #30090a;
	 color: #fff;
}
 .bg-primary .custom--primary-dark {
	 background-color: #270a0a;
}
 .bg-primary .custom-a {
	 color: #f6f6f6;
}
 .bg-primary .custom-a:hover {
	 color: #f6f6f6;
}
 .bg-primary .bg-dark {
	 background-color: #808080 !important;
}
 .bg-primary .text-faded {
	 color: rgba(246, 246, 246, 0.7);
}
 .bg-primary section {
	 padding: 8rem 0;
}
 .bg-primary .section-heading {
	 margin-top: 0;
}
 .bg-primary ::-moz-selection {
	 color: #f6f6f6;
	 background: #808080;
	 text-shadow: none;
}
 .bg-primary ::selection {
	 color: #f6f6f6;
	 background: #808080;
	 text-shadow: none;
}
 .bg-primary img::selection {
	 color: #f6f6f6;
	 background: transparent;
}
 .bg-primary img::-moz-selection {
	 color: #f6f6f6;
	 background: transparent;
}
 .bg-primary .box-text-opacity {
	 background-color: rgba(49, 4, 4, 0.7);
}
 .bg-primary footer {
	 padding-top: 5rem;
	 padding-bottom: 5rem;
	 background-color: #30090a;
	 color: #fff;
}
 .bg-primary .custom--primary-dark {
	 background-color: #270a0a;
}
 .bg-primary .custom-a {
	 color: #f6f6f6;
}
 .bg-primary .custom-a:hover {
	 color: #f6f6f6;
}

 